@font-face {
  font-family: "Penumbra";
  src: local("Penumbra"),
   url("/src/assets/fonts/Penumbra-Sans-Std-Bold.otf") format("opentype");
  font-weight: bold;
  }

  .nav-toggler:focus{
    outline: none!important;
}